# This requirements are for development and testing only, not for production.
black==24.2.0
bs4==0.0.2
coverage==7.4.3
deepdiff==7.0.1
flake8==7.0.0
isort==5.13.2
j2lint==1.1.0
mypy==1.8.0
pandas==2.2.1
pylint==3.1.0
pytest-cov==4.1.0
pytest-timeout==2.3.1
pytest==8.1.1
